# Secrets
.env

# Virtual environment
venv/
env/

# Python cache
__pycache__/
*.pyc

# Database
*.db
*.sqlite

# Logs
*.log

# System files
.cache/
.gitconfig
.lesshst
.ssh/
.sudo_as_admin_successful
.bash_history
.DS_Store

# Old files
models.py
bot.py
.env
bot.log
database.db
data/database.db
